pandas
numpy
requests
pyarrow

s3fs
boto3

snowflake-connector-python

apache-airflow
apache-airflow-providers-http
apache-airflow-providers-snowflake
apache-airflow-providers-amazon

python-dotenv
loguru
tenacity

python-dateutil
pytz
fastparquet